/RemoteContrl/.vs
/RemoteContrl/.vs/RemoteContrl/v16/.suo
/RemoteContrl/.vs/RemoteContrl/v16/Browse.VC.db
/RemoteContrl/.vs/RemoteContrl/v16/ipch/29d1957101c7c369.ipch
/RemoteContrl/.vs/RemoteContrl/v16/ipch/7d854e3678c8b030.ipch
/RemoteContrl/RemoteContrl/RemoteContrl.vcxproj.user
/RemoteContrl/RemoteClient/RemoteClient.vcxproj.user
/RemoteContrl/RemoteClient/Debug
/RemoteContrl/RemoteContrl/Debug
/RemoteContrl/Debug
